<style>
  .card {
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #f2f2f2;

    button {
      margin-top: 8px;
      padding: 6px 12px;
      cursor: pointer;
    }
  }

</style>

<div class="card" *ngFor="let evento of eventos" [appHoverBorder]="evento.cor">

  <h3>{{ evento.nome }}</h3>
  <p>{{ evento.descricao }}</p>

  <button *ngIf="!inscricoes.has(evento.nome)" (click)="participar(evento.nome)">
    Participar
  </button>

  <div *ngIf="inscricoes.has(evento.nome)">
    <p>✅ Você se inscreveu no evento: <strong>{{ evento.nome }}</strong></p>
    <button (click)="sairDoEvento(evento.nome)">Sair do Evento</button>
  </div>
</div>
